/venv-qa/
/training_notebooks/
/Research_Engineering_Challenge_November 2020.pdf

/.ipynb_checkpoints/
/ml-model-quality-analysis/.ipynb_checkpoints/

/datasets/
/saved_model/image-multiclass-classification-flowers/variables/
/saved_model/image-multiclass-classification-flowers/assets/
/saved_model/image-binary-classification-cats-vs-dogs/variables/
/saved_model/image-binary-classification-cats-vs-dogs/assets/

/dist/
/ml_model_quality_analysis.egg-info/
